header{
border: 1px solid red;    
height: 400px;
}

nav{
border: 1px solid blue;    
height: 400px;
}

section {
    border: 1px solid blue;
    height: 200px;
    width: 400px;
}

article {
    height: 400px;
    flex: 1;
}

aside {
    border: 1px solid red;
    height: 200px;
    width: 400px;
}